<div class="max-w-md w-full p-2 rounded-lg min-h-64 bg-gray-700">
  <p class="text-gray-300 border-b border-gray-300 w-full mb-4"> Text Content </p>
  <p class="text-lg text-gray-100 whitespace-pre-wrap"> <%= post_content.content %> </p>
</div>